* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	margin: 8px;
	background-color: #343434;
	opacity: 0.8;
	background-image:  linear-gradient(#383b62 2px, transparent 2px), linear-gradient(90deg, #383b62 2px, transparent 2px), linear-gradient(#383b62 1px, transparent 1px), linear-gradient(90deg, #383b62 1px, #343434 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.controls {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 8px 0;
	border: 2px solid black;
	min-width: 320px;
	max-width: 30%;
	background-color: #343434;
	color: #ccc;
}

.container {
	padding: 10px;
}

	.container button {
		margin-bottom: 5px;
		margin-top: 2px;
		padding: 5px;
		border: 2px solid black;
		border-radius: 8px;
		background-color: #fff;
	}

	.container button:hover {
		cursor: pointer;
		background-color: #999999;
	}

	hr {
		border: 1px solid black;
	}

	@media screen and (max-width:320px) {
		.controls {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			width: 80%;
		}
		.container {
			width: 100%;
		}
	}

	@media screen and (max-width:480px) {
		.container {
			width: 100%;
		}

		.controls {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			width: 80%;
		}
	}


	.wrapper {
		padding-left: 10px;
	}
		.raise-contents {
			display: flex;
			align-items: center;
		}
			.raise-contents p {
				margin-right: 5px;
			}

			.raise-contents button {
				padding: 2px 5px;
				margin: 2px 0;
			}

	.levelUpgrade {
		display: flex;
		align-items: center;
	}
		.levelUpgrade p {
			margin-right: 5px;
		}

		.levelUpgrade button {
			padding: 2px 5px;
			margin: 2px 0;
		}


.achievements {
 	background-color: black;
  	padding: 20px;
}

#text {
	color: #fff;
}

#rasiePrice {
	margin-right: 2px;
}

#lowerPrice {
	margin-left: 2px;
}


