* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 8px;
	background-color: #343434;
	opacity: 0.8;
	background-image:  linear-gradient(#383b62 2px, transparent 2px), linear-gradient(90deg, #383b62 2px, transparent 2px), linear-gradient(#383b62 1px, transparent 1px), linear-gradient(90deg, #383b62 1px, #343434 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.controls {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	border: 2px solid black;
	width: 20%;
	background-color: #343434;
	color: #fff;
}

.container {
	width: 100%;
	padding: 8px;
}

	.container button {
		margin: 10px 0;
	}

	hr {
		border: 1px solid black;
	}

	@media (max-width:320px) {
		.container {
			width: 100%;
		}
	}

	@media (max-width:480px) {
		.container {
			width: 100%;
		}
	}


.achievements {
 	background-color: black;
  	padding: 20px;
}

#text {
	color: #fff;
}

#rasiePrice {
	margin-right: 2px;
}

#lowerPrice {
	margin-left: 2px;
}


